/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans Narrow', sans-serif; */

.row>*{
    padding-right: 0!important;
    padding-left: 0!important;
    margin: 0;
}

.contact-img{
    background-image: url('/public/images/Contact/contact2Large.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: 1px;
    height: 100vh;
}

.overlay{
    background-color: rgba(33, 29, 54, 0.5);
    /* backdrop-filter: blur(1px); */
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 10rem 3rem;
}

.overlay span{
    color: #101520;
}

.overlay h1{
    font-family: 'Poppins', sans-serif;
    font-size: 7rem;
    font-weight: 900;
    color: white;
    /* text-transform: lowercase; */
    line-height: 1;
}

.overlay p{
    font-size: 1.5rem;
    font-weight: 400;
    color: wheat;
    letter-spacing: 1px;
}

.contact-form{
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    background-color: #212A3E;
    padding: 7rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form h1{
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 0 3rem 0;
}

.contact-map{
    padding: 4rem 8rem;
    /* background-color: #f1f4f6; */
}

.form-area{
    background-color: #F1F6F9;
    border-radius: 10px;
    padding: 3rem;
    height: auto;
    width: 75%;
}

.contact-faq{
    padding: 0 8rem 3rem;
}


.faq-heading h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 12px;
}

.faq-heading h1{
    font-family: 'Poppins', sans-serif;
    font-size: 6rem;
    font-weight: 900;
}

.faq-section{
    padding: 2rem;
    overflow: hidden;
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .overlay h1{
        font-size: 6.5rem;
    }
    
    .overlay p{
        font-size: 1.2rem;
    }
    .contact-form h1{
        font-size: 2.2rem;
    }
    .form-area{
        width: 70%;
        padding: 2.5rem;
    }
    .faq-heading h2{
        font-size: 1.5rem;
        line-height: 12px;
    }
    
    .faq-heading h1{
        font-size: 5rem;
        font-weight: 900;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .overlay h1{
        font-size: 4.8rem;
    }
    
    .overlay p{
        font-size: 1.2rem;
    }
    .contact-form h1{
        font-size: 2rem;
    }
    .form-area{
        width: 80%;
        padding: 2.2rem;
    }
    .faq-heading h2{
        font-size: 1.2rem;
    }
    
    .faq-heading h1{
        font-size: 4rem;
    }
}

@media (min-width: 850px) and (max-width: 1024px) {
    .contact-img{
        height: auto;
    }
    .overlay h1{
        font-size: 4.8rem;
    }
    
    .overlay p{
        font-size: 1.2rem;
    }

    .contact-form{
        height: auto;
        padding: 2rem 0;
    }

    .contact-map{
        padding: 2rem 0;
    }
    .faq-heading h2{
        font-size: 1.2rem;
    }
    
    .faq-heading h1{
        font-size: 4rem;
    }
    .contact-faq{
        padding: 0 6rem 3rem;
    }
}

@media (min-width: 608px) and (max-width: 849px){
    .contact-img{
        height: auto;
    }
    .overlay h1{
        font-size: 4.5rem;
    }
    
    .overlay p{
        font-size: 1rem;
    }

    .contact-form{
        height: auto;
        padding: 2rem 0;
    }

    .contact-map{
        padding: 2rem 0;
    }
    .faq-heading h2{
        font-size: 1.2rem;
    }
    
    .faq-heading h1{
        font-size: 3.8rem;
    }
    .contact-faq{
        padding: 0 4rem 3rem;
    }
}

@media (max-width: 608px){
    .contact-img{
        height: auto;
    }
    .overlay h1{
        font-size: 4.5rem;
    }
    
    .overlay p{
        font-size: 1rem;
    }

    .contact-form{
        height: auto;
        padding: 2rem 0;
    }

    .contact-map{
        padding: 2rem 0;
    }
    .faq-heading h2{
        font-size: 1rem;
    }
    
    .faq-heading h1{
        font-size: 3.5rem;
    }
    .contact-faq{
        padding: 0 4rem 3rem;
    }
}
