/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans Narrow', sans-serif; */
.parallax{
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.45s cubic-bezier(.2,.49,.32,.99);
}

.bg-img {
  position: relative;
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mount {
  /* height: 1500px;
  width: 2800px; */
  /* background-size: cover;
  background-repeat: no-repeat, no-repeat; */
  height: 150.14%;
  width: 157.14%;
  position: absolute;
  top: calc(0% + 450px);
  left: calc(50% + 113px);
  z-index: -3;
  
}

.tower {
  height: 120%;
  width: 90%;
  top: 50%;
  right: -50%;
  /* height: 1150px;
  width: 1650px; */
  /* width: auto; */
  position: absolute;
  /* top: calc(0% + 478px);
  left: calc(50% + 128px); */
  z-index: -1;
}

.hero-text1, .hero-text2 {
  padding: 9rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -2;
  height: 100%;
  /* position: absolute;
  top: calc(0% + 590px);
  left: calc(50% + 5px); */
  margin: auto;
  width: 100%;
  pointer-events: auto;
  position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    top: 50%;
}

.hero-text1 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16rem;
  background: -webkit-linear-gradient(#ffffffd9 35%, #2b2d2f52);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
  text-transform: uppercase;
  position: absolute;
  top: 30%;
  pointer-events: auto;
}

.hero-text2 h2{
    position: absolute;
    top: 35%;
    font-family: 'Oswald', sans-serif;
    font-size: 16rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
}

.hero-text2 p{
    position: absolute;
    top: 35%;
    font-family: 'Noto Serif JP', sans-serif;
    font-weight: 900;
    color: rgb(175, 14, 14);
    font-size: 2rem;
}

.destination-section{
min-height: 100vh;
height: auto;
width: 100%;
padding: 12rem 10rem 0;
position: relative;
top: -7rem;
background: linear-gradient(#1b243000 20px, #1B2430 110px);
text-align: center;
display: flex;
align-items: center;
flex-direction: column;

}

.backdrop-img{

  background-image: url('/public/images/forest-backdropLarge.jpeg');
  backdrop-filter: blur(5px);

  height: 100%;
  width: 100%;
  position: absolute;
  top: 7rem;
  left: 0;
  opacity: 0.05;

  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-y;
}

.destination-info-section{
  position: relative;
  z-index: 1;
  display: flex;
    flex-direction: column;
    align-items: center;
}


.destinations-title{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  letter-spacing: 5px;
}

.destinations-para{
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: capitalize;
  color: white;
  font-size: 1rem;
  letter-spacing: 3px;
}




@media (min-width: 1201px) and (max-width: 1400px) {
  .hero-text h1 {
    position: absolute;
    /* top: 30%; */
    font-size: 14rem;
  }
  
  .hero-text h2{
      position: absolute;
      /* top: 16rem; */
      font-size: 13rem;
  }
  
  .hero-text p{
      position: absolute;
      /* top: 16rem; */
      font-size: 1.5rem;
  }
  .destination-section{
    padding: 10rem 5rem 5rem;
    }

    .backdrop-img{
      /* min-height: 100vh; */
      height: 109vh;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {

  .mount {
    /* height: 80vh;
    width: 100vw; */
    /* top: calc(0% + 450px);
    left: calc(50% + 113px); */
    top: 50%;
    left: 55%;
  }


  .tower {
    /* top: calc(0% + 478px);
    left: calc(50% + 128px); */
    top: 50%;
    right: -70%;
    width: 120%;
  }

  .hero-text1 h1 {
    font-size: 12rem;
    position: absolute;
    top: 42%;
  }
  
  .hero-text2 h2{
      position: absolute;
      top: 48%;
      font-size: 11rem;
  }
  
  .hero-text2 p{
      position: absolute;
      top: 48%;
      font-size: 1.2rem;
  }

  .destination-section{
    padding: 10rem 5rem 5rem;
    }
}

@media (min-width: 850px) and (max-width: 1024px) {
  .mount {
    /* height: 40rem; */
    /* top: calc(0% + 365px);
    left: calc(50% + 52px); */
    top: 50%;
    left: 55%;
  }

  .tower {
    /* top: calc(0% + 271px);
    left: calc(50% + -44px); */
    top: 50%;
    right: -70%;
    width: 120%;
  }

  .hero-text1 h1 {
    font-size: 9rem;
    position: absolute;
    top: 40%;
  }
  
  .hero-text2 h2{
      position: absolute;
      top: 45%;
      font-size: 9rem;
  }
  
  .hero-text2 p{
      position: absolute;
      top: 45%;
      font-size: 1rem;
  }

  .destination-section{
    padding: 10rem 5rem 5rem;
    }


.destinations-title{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  letter-spacing: 5px;
}

.destinations-para{
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: capitalize;
  color: white;
  font-size: 1rem;
  letter-spacing: 3px;
}
}


@media (max-width: 849px) {

  .bg-img{
    max-height: 60%;
    height: 60vh;
  }

  .mount {
    /* top: calc(0% + 365px);
    left: calc(50% + 52px); */
    top: 50%;
    left: 55%;
    height: auto;
  }

  .tower {
    /* height: 150%;
    width: 130%;
    top: calc(0% + 271px);
    left: calc(50% + -44px); */
    height: 100%;
    right: -65%;
    width: 120%;
  }

  .hero-text1 h1 {
    font-size: 8rem;
    position: absolute;
    top: 35%;
  }
  
  .hero-text2 h2{
      position: absolute;
      top: 40%;
      font-size: 9rem;
  }
  
  .hero-text2 p{
      position: absolute;
      top: 40%;
      font-size: 0.9rem;
  }

  .destination-section{
    padding: 10rem 5rem 5rem;
    }


.destinations-title{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  letter-spacing: 5px;
}

.destinations-para{
  font-family: 'PT Sans Narrow', sans-serif;
  text-transform: capitalize;
  color: white;
  font-size: 1rem;
  letter-spacing: 3px;
}
}
