/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans Narrow', sans-serif; */
.parallax{
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.45s cubic-bezier(.2,.49,.32,.99);
}

.bg-img {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mount {
  /* height: 1500px;
  width: 2800px; */
  /* background-size: cover;
  background-repeat: no-repeat, no-repeat; */
  height: 1500px;
  width: 2200px;
  position: absolute;
  top: calc(0% + 450px);
  left: calc(50% + 113px);
  z-index: -3;
  
}

.tower {
  height: 1150px;
  width: 1650px;
  /* width: auto; */
  position: absolute;
  top: calc(0% + 478px);
  left: calc(50% + 128px);
  z-index: -1;
}

.hero-text1, .hero-text2 {
  padding: 9rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -2;
  height: 100%;
  position: absolute;
  top: calc(0% + 590px);
  left: calc(50% + 5px);
  margin: auto;
  width: 100%;
  pointer-events: auto;
}

.hero-text1 h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16rem;
  background: -webkit-linear-gradient(#ffffffd9 35%, #2b2d2f52);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
  text-transform: uppercase;
  position: absolute;
  top: 9rem;
  pointer-events: auto;
}

.hero-text2 h2{
    position: absolute;
    top: 14rem;
    font-family: 'Oswald', sans-serif;
    font-size: 16rem;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
}

.hero-text2 p{
    position: absolute;
    top: 14rem;
    font-family: 'Noto Serif JP', sans-serif;
    font-weight: 900;
    color: rgb(175, 14, 14);
    font-size: 2rem;
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .hero-text h1 {
    position: absolute;
    top: 10.5rem;
    font-size: 14rem;
  }
  
  .hero-text h2{
      position: absolute;
      top: 16rem;
      font-size: 13rem;
  }
  
  .hero-text p{
      position: absolute;
      top: 16rem;
      font-size: 1.5rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .mount {
    height: 80vh;
    width: 100vw;
  }

  .tower {
    height: 80vh;
    width: auto;
  }

  .hero-text h1 {
    font-size: 10rem;
    position: absolute;
    top: 8.5rem;
  }
  
  .hero-text h2{
      position: absolute;
      top: 12rem;
      font-size: 11rem;
  }
  
  .hero-text p{
      position: absolute;
      top: 12rem;
      font-size: 1.2rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .mount {
    height: 50vh;
    width: 100vw;
  }

  .tower {
    height: 50vh;
    width: auto;
  }

  .hero-text h1 {
    font-size: 9rem;
    position: absolute;
    top: 2.5rem;
  }
  
  .hero-text h2{
      position: absolute;
      top: 5rem;
      font-size: 9rem;
  }
  
  .hero-text p{
      position: absolute;
      top: 5rem;
      font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .mount {
    height: 30vh;
    width: 100vw;
  }

  .tower {
    height: 30vh;
    width: auto;
  }
  .hero-text h1 {
    font-size: 6rem;
    position: absolute;
    top: -0.8rem;
  }
  
  .hero-text h2{
      position: absolute;
      top: 1rem;
      font-size: 5.5rem;
  }
  
  .hero-text p{
      position: absolute;
      top: 0.8rem;
      font-size: 0.8rem;
  }
}
