/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans Narrow', sans-serif; */

.about-bg{
    background-color: #F1F6F9;
    padding: 5rem;
    position: relative;
}

.about-img{
    /* margin: 5rem 5rem 0 5rem ; */
    background-image: url("/public/images/about/about-img5.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.about-section{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #213d76db;
    width: 40%;
    padding: 3rem;
    color: white;
    text-align: justify;
}

.about-title{
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    letter-spacing: 3px;
    padding-bottom: 1rem;
}

.about-info{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1.2px;
    line-height: 1.6;
}
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
} */

   /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1999px) {
    .about-img{
        height: 80vh;
    }

    .about-section{
        width: 45%;
    }

    .about-title{
        font-size: 3rem;
    }
    
    .about-info{
        font-size: 1rem;
    }
} 

   /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-img{
        height: 60vh;
    }

    .about-section{
        width: 45%;
    }

    .about-title{
        font-size: 2.2rem;
    }
    
    .about-info{
        font-size: 0.8rem;
    }
} 
  
    /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    .about-bg{
        padding: 5rem 3rem;
    }
    .about-img{
        height: 50vh;
    }

    .about-section{
        width: 55%;
        padding: 2rem;
    }

    .about-title{
        font-size: 2rem;
    }
    
    .about-info{
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 600px) {

}

