/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans Narrow', sans-serif; */

h1{
    padding: 0;
    margin: 0;
}
.card-section{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem;
    padding: 2.5rem 0;
}

.main-title{
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* text-decoration: underline; */
    padding-bottom: 0.7rem;
    border-bottom: 4px solid rgb(199, 11, 11);
    width: 40%;
}

.destination-card{
    height: 420px;
    width: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
    background-position: center;
}

.destination-card:hover{
    cursor: pointer;
    background-size: 120%;
    transform: scale(105%);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.594);
}

.card-info{
    height: 125px;
    background-color: rgba(32, 32, 32, 0.751);
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0.6rem;
    /* display: flex; */
    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
}

.card-info h2{
    font-family: 'Oswald', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 2.1rem;
    letter-spacing: 3px;
}

.card-info p{
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    font-size: 1rem;
    letter-spacing: 3px;
}

.card-heart-icon{
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.card-heart-icon-color{
    font-size: 1.8rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: rgb(255, 62, 62);
}
