a{
    text-decoration: none!important;
}

.footer-bg{
    background-color: #212A3E;
    height: 250px;
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 2rem 10rem;
}

.footer-info-section{
    text-align: center;
    border-right: 1px solid white;
    padding: 2rem 3rem 2rem 5rem;
}

.logo{
    position: relative;
}

.footer-logo-img{
    height: 4.4rem;
    width: 4.4rem;
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -0.4rem;
}

.footer-brand-icon{
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    text-shadow: 2px 2px black;
    position: relative;
    z-index: 1;
}

.footer-main-links{
    font-family: 'Oswald', sans-serif;
    display: flex;
    /* align-items: start; */
    justify-content: center;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    /* padding: 0 0 0 2rem; */
    /* margin: 0 22rem; */
}

.footer-navi-link{
    margin: 0 1.5rem;
    letter-spacing: 2px;
    cursor: pointer;
    color: white;
    opacity: 0.8;
}

.footer-navi-link:hover{
    opacity: 1;
}

/* .underline:hover{
    cursor: pointer;
} */
.footer-links-section{
    /* padding: 0 0 0 2rem!important; */
    display: flex;
    flex-direction: column;
    text-align: left;
    /* justify-content: center; */
}

.footer-about-rights{
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 0;
    letter-spacing: 1.2px;
    color: white;
    margin: 0;
    text-align: center;
}

.social-media-icons{
    display: flex;
}

.social-icon{
    padding: 10px;
}