.form-grid{
    display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

label{
    letter-spacing: 2px;
    font-size: 1.1rem;
    font-weight: 500;
}
input, textarea{
    background-color: #F1F6F9!important;
    border: none!important;
    width: 100%;
    border-bottom: 2px solid black!important;
    letter-spacing: 1px;
    margin: 2px 0 10px 0!important;
}

input:focus, textarea:focus{
    outline: none!important;
}

*:focus {
    outline: none;
}

.message{
    margin-top: 18px;
}

.button {
    border-radius: 4px;
    background-color: #f41e2c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 8px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    float: right;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -2px;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

