.img-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3rem;
    padding: 7rem 0 0;
}

.image-info{
    height: 125px;
    background-color: rgba(32, 32, 32, 0.899);
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0.6rem;
}

.image-info h2{
    font-family: 'Oswald', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 2.1rem;
    letter-spacing: 3px;
}

.image-info p{
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    font-size: 1rem;
    letter-spacing: 3px;
}


@media (min-width: 1201px) and (max-width: 1400px) {
    .img-grid{
        /* display: grid; */
        grid-template-columns: auto auto auto;
        gap: 3rem;
        padding: 7rem 0 0;
    }
  }
  
  @media (min-width: 1025px) and (max-width: 1200px) {
    .img-grid{
        /* display: grid; */
        grid-template-columns: auto auto;
        gap: 3rem;
        padding: 7rem 0 0;
    }
  }
  
  @media (min-width: 850px) and (max-width: 1024px) {
    .img-grid{
        /* display: grid; */
        grid-template-columns: auto auto;
        gap: 2rem;
        padding: 5rem 0 0;
    }
  }
  
  
  @media (max-width: 849px) {
    .img-grid{
        /* display: grid; */
        grid-template-columns: auto;
        gap: 3rem;
        padding: 7rem 0 0;
    }
  }
  