.img-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3rem;
    padding: 7rem 0 0;
}

.img-card{
    height: 450px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}