/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Sans Narrow', sans-serif; */

.search-section{
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
}

h3{
    margin: 0;
}

.search-section h3{
    font-size: 1.5rem;
    text-align: right;
}

input{
    font-size: 10px;
}

.search-filter{
    background-color: #F1F6F9;
    /* margin: 0!important; */
    margin: 0.5rem 0 0;
    height: 2rem;
    border: 0.5px solid rgb(64, 64, 64);
    border-radius: 5px;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
}


@media (min-width: 1201px) and (max-width: 1400px){
    .search-section h3{
        font-size: 1.2rem;
        text-align: right;
        
    }
    
    input{
        font-size: 8px;
    }

    .search-filter{
        font-size: 1.2rem;
        margin: 0;
    }
}

@media (min-width: 1025px) and (max-width: 1200px){
    .search-section h3{
        font-size: 1.2rem;
        text-align: right;
    }
    
    input{
        font-size: 8px;
    }

    .search-filter{
        font-size: 1.2rem;
        margin: 0;
    }
}

@media (min-width: 850px) and (max-width: 1024px){
    .search-section h3{
        font-size: 1.4rem;
        text-align: right;
    }
    
    input{
        font-size: 8px;
    }

    .search-filter{
        font-size: 1rem;
        margin: 0;
    }
}


@media (min-width: 608px) and (max-width: 849px){
    .search-section h3{
        font-size: 1.2rem;
        text-align: right;
    }
    
    input{
        font-size: 2px;
    }

    .search-filter{
        font-size: 1rem;
        margin: 0;
    }
}

@media (max-width: 608px){
    .search-section h3{
        font-size: 1rem;
        text-align: right;
    }
    
    input{
        font-size: 2px;
    }

    .search-filter{
        font-size: 0.8rem;
        margin: 0;
        padding: 0.5rem;
    }
}